<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <main class="main-element">
    <header class="main-header">
        <div class="bg-clip"></div>
        <div class="main-name">
          <h1 class="name">Goddard Finn</h1>
          <h2 class="work">director.reviewer.critic.</h2>
        </div>
        <img src="images/avatar.jpg" alt="Goddard Finn" class="main-avatar">
    </header>
    <section class="main-content">
      {{ content }}
    </section>
    <footer>
      <p class="copy">Copyright &copy; 2014 - Goddard Finn</p>
    </footer>
  </main>

</body>

</html>
