/* Base */
/* ----------------------------------------------------------*/
html, body { height: 100%; }

body {
  background-color: #cfcfcf;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 .5em 0;
  padding-top: .5em;
}

/* Styles */
/* ----------------------------------------------------------*/
h2 {
  margin-bottom: .75em;
  margin-top: 1em;
}

.main-header {
  border-bottom: 6px solid #c10d0d;
  padding: 50px 0 280px 0;
  position: relative;
}

.bg-clip {
  background: url(../images/goddard.jpg) no-repeat center bottom fixed;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-name {
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 4em;
  z-index: 1;
}

.main-name .name {
  color: #FFF;
  font-size: 3.8em;
  margin-bottom: -4px;
  margin-top: 1em;
  text-shadow: 0 2px 0 #000;
}

.main-name .work {
  color: #dcdcdc;
  font-size: 1.4em;
  font-style: italic;
  text-shadow: 0 -2px 0 #000;
}

.main-avatar {
  border-radius: 50%;
  border: 12px solid rgba(255,255,255,.5);
  bottom: -50%;
  left: 50%;
  margin-bottom: 140px;
  margin-left: -128px;
  position: absolute;
  width: 256px;
  z-index: 1;
}

.main-content {
  padding-top: 160px;
}

.review {
  background: #efefef;
  display: block;
  position: relative;
  outline: 1px solid transparent;
  transition: all linear 250ms;
}

.review:hover,
.review:active {
  background: #fff;
  text-decoration: none;
  outline: 4px solid #c10d0d;
}

.review-title {
  margin: 0 0 12px 0;
}

.post-date {
  color: #333;
}

.brand-1 {
  color: #c10d0d;
}

.avatar-link {
  position: relative;
}

.post {
  margin-top: 2em;
}

.post-content {
  background: #efefef;
  padding: 1em;
}

.thumb-post {
  margin: 0 1em 1em 0;
}

.back-to-articles {
  /*background: #efefef;*/
  border-width: 1px;
  border-style: solid;
  display: block;
  width: 50%;
  margin: 1em auto;
  padding: .5em;
  font-size: 1.6em;
  text-align: center;
  /*outline: 1px solid transparent;*/
  transition: all linear 180ms;
}

.back-to-articles:hover {
  background: rgba(255,255,255,.4);
  text-decoration: none;
  color: #c10d0d;
  /*outline: 4px solid #c10d0d;*/
}

.video-of-the-week {
  font-size: 4.6em;
  margin-top: 40px;
}

.copy {
  color: #efefef;
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}
