/* Base */
/* ----------------------------------------------------------*/
html, body { height: 100%; }

body {
  background-color: #cfcfcf;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 .5em 0;
  padding-top: .5em;
}

/* Styles */
/* ----------------------------------------------------------*/
.main-header {
  border-bottom: 6px solid #c10d0d;
  padding: 120px 0 280px 0;
  position: relative;
}

.bg-clip {
  background: url(../images/making.jpg) no-repeat center -130px fixed;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-name {
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.main-name .name {
  color: #FFF;
  font-size: 3.8em;
  margin-bottom: -4px;
  text-shadow: 0 2px 0 #000;
}

.main-name .work {
  color: #FFF;
  font-size: 1.4em;
  text-shadow: 0 -2px 0 #000;
}

.main-avatar {
  border-radius: 50%;
  border: 12px solid rgba(255,255,255,.5);
  bottom: -50%;
  left: 50%;
  margin-bottom: 140px;
  margin-left: -192px;
  position: absolute;
  width: 384px;
  z-index: 1;
}

.main-content {
  padding-top: 180px;
}

.review {
  background: #efefef;
  position: relative;
}

.review-title {
  margin: 0 0 12px 0;
}

.brand-1 {
  color: #c10d0d;
}

.post-date {
  background: rgba(0,0,0,.5);
  color: #FFF;
  font-size: 16px;
  left: 0;
  position: absolute;
  padding-right: 8px;
  text-align: right;
  bottom: 0;
  width: 100%;
}

.avatar-link {
  position: relative;
}

.best-of-the-week {
  font-size: 4.6em;
  margin-top: 40px;
}

.best-of-the-week-banner {
  background: url(../images/best-of-the-week.jpg) no-repeat top fixed;
  background-size: cover;
  padding-bottom: 400px;
}

.best-of-the-week-description {
  background: rgba(0,0,0,.6);
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  margin-top: 20px;
  padding: 12px;
  width: 320px;
}

.copy {
  color: #efefef;
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}
